In [1]:
import numpy as np
import pandas as pd

In [4]:
#import file
c_csv = pd.read_csv('C:\\Users\\Bindiya\\Desktop\\InvestmentAssignment\\New Text Document.txt', sep = '\t', encoding = 'ISO-8859-1')

In [5]:
c_csv

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/ÃAsys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [6]:

#Data Cleaning
c_csv['permalink'] = c_csv['permalink'].str.encode('utf-8').str.decode('ascii', 'ignore').str.lower()
c_csv['name'] = c_csv['name'].str.encode('utf-8').str.decode('ascii', 'ignore')

In [7]:
len(c_csv['permalink'].unique()) #unique rows of companies

66368

In [9]:
#import file 
rounds_csv = pd.read_csv("C:\\Users\\Bindiya\\Desktop\\InvestmentAssignment\\rounds2.csv", encoding = 'ISO-8859-1')

In [10]:
rounds_csv

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [11]:
rounds_csv['company_permalink'] = rounds_csv['company_permalink'].str.encode('utf_8').str.decode('ascii', 'ignore').str.lower()

In [12]:
rounds_csv

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/organization/zzzzapp-com,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/organization/asys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [13]:
len(rounds_csv['company_permalink'].unique()) #unique rows of rounds

66368

In [14]:

# checking if all companies are there in rounds in companies file
print(len(rounds_csv.loc[~rounds_csv['company_permalink'].isin(c_csv['permalink']), :]))

3

In [16]:
# creating a master frame
master_frame = pd.merge(c_csv, rounds_csv, how = 'inner', left_on = 'permalink', right_on = 'company_permalink')

In [17]:
master_frame

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114941,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114942,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/organization/zzzzapp-com,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114943,/organization/eron,ERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011,/organization/eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114944,/organization/asys-2,asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014,/organization/asys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114945,/organization/novatiff-reklam-ve-tantm-hizmetl...,novatiff Reklam ve Tantm Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [18]:
# check for null values
# inscpecting null values 
round(master_frame.isnull().sum()/len(master_frame.index)*100,2)

permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.96
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
dtype: float64

In [19]:
master_frame.shape

(114946, 16)

In [22]:
# remove for null values and 0 values from raised_amount_usd

master_frame.drop(master_frame[master_frame['raised_amount_usd'].isnull()].index, inplace = True)
master_frame.drop(master_frame[master_frame['raised_amount_usd'] == 0].index, inplace = True)

In [23]:
master_frame.shape

(94542, 16)

In [24]:
master_frame

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
6,/organization/01games-technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114940,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/organization/zzzzapp-com,/funding-round/6ba41360588bc6e3f77e9b50a0ebfafa,seed,NaN,01-08-2013,33149.0
114941,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114942,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/organization/zzzzapp-com,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114944,/organization/asys-2,asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014,/organization/asys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114945,/organization/novatiff-reklam-ve-tantm-hizmetl...,novatiff Reklam ve Tantm Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [25]:
#to avoid exponential notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [26]:
# Average investment - venture
master_frame.groupby('funding_round_type').mean().loc[['venture']]

                    raised_amount_usd
funding_round_type
venture                  11755871.088

In [27]:
# Average investment - seed
master_frame.groupby('funding_round_type').mean().loc[['seed']]

                    raised_amount_usd
funding_round_type
seed                       722726.909

In [28]:
# Average investment - private equity
master_frame.groupby('funding_round_type').mean().loc[['private_equity']]

                    raised_amount_usd
funding_round_type
private_equity           73422367.359

In [29]:
# Average investment - angel
master_frame.groupby('funding_round_type').mean().loc[['angel']]

                    raised_amount_usd
funding_round_type
angel                      964848.855

In [30]:
# avg investment amount - computed together for all 4 types
pd.DataFrame(master_frame.groupby('funding_round_type').raised_amount_usd.mean()).loc[['venture', 'angel', 'seed', 'private_equity']].sort_values(by = 'raised_amount_usd', ascending = False)

                    raised_amount_usd
funding_round_type
private_equity           73422367.359
venture                  11755871.088
angel                      964848.855
seed                       722726.909

In [31]:
# private equity having the highest mean for the raised amount will be the 
#best option for the Spark Funds to invest on.
master_frame[(master_frame['raised_amount_usd'] >= 5000000) & 
             (master_frame['raised_amount_usd'] <= 15000000)].groupby('funding_round_type').mean().loc[['angel', 'seed', 'private_equity', 'venture']].sort_values(by = 'raised_amount_usd', ascending = False)

                    raised_amount_usd
funding_round_type
private_equity            9283495.678
venture                   8888784.798
angel                     7212354.764
seed                      6610420.409

In [32]:
#top 9 dataframe
top9 = pd.DataFrame(master_frame[master_frame['funding_round_type'] == 'private_equity'].groupby('country_code').
             raised_amount_usd.sum()).sort_values(by = 'raised_amount_usd', ascending = False)[:9]

In [33]:
top9

              raised_amount_usd
country_code
USA             76221276799.000
CHN             21116648606.000
IND              6547512053.000
GBR              5536833346.000
RUS              3261000000.000
CAN              2993348151.000
NLD              2032735114.000
BRA              2014726660.000
DEU              2001232740.000

In [34]:
top9_countries = list(top9.index)

In [35]:
top9_countries

['USA', 'CHN', 'IND', 'GBR', 'RUS', 'CAN', 'NLD', 'BRA', 'DEU']

In [38]:

#top 9 countries and funding type private equity
top9_df = master_frame[(master_frame['country_code'].isin(top9_countries)) & (master_frame['funding_round_type'] == 'private_equity')]
top9_df
top9_df.shape

(1606, 16)

In [41]:
#splitting the top 9 countries into the primary sector
top9_df['primary_sector'] = top9_df['category_list'].str.split('|', n = 2, expand = True)[[0]]
top9_df

F:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector
21,/organization/1-800-publicrelations-inc-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013,/organization/1-800-publicrelations-inc-,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6000000.000,Internet Marketing
153,/organization/1c-company,1C Company,http://1c.ru/eng,Games|Software|Video Games,closed,RUS,48,Moscow,Moscow,01-01-1991,/organization/1c-company,/funding-round/679ae989d9dd8195e989dda21eff44b7,private_equity,NaN,03-10-2011,200000000.000,Games
231,/organization/21st-century-oncology,21st Century Oncology,http://21stcenturyoncology.com,Health and Wellness,operating,USA,FL,Fort Myers,Fort Myers,NaN,/organization/21st-century-oncology,/funding-round/261bff457e1b31c4879e786ab7cf80ab,private_equity,NaN,26-09-2014,325000000.000,Health and Wellness
312,/organization/2dheat,2DHeat,http://www.2dheat.com/,Clean Technology,operating,GBR,P2,Warrington,Warrington,NaN,/organization/2dheat,/funding-round/b1308b31d7a416eb1200b9bb42c9a08f,private_equity,NaN,24-10-2014,200708.000,Clean Technology
326,/organization/2nd-story-software-inc,"2nd Story Software, Inc.",http://www.taxact.com,Software,acquired,USA,IA,Cedar Rapids,Cedar Rapids,15-02-1998,/organization/2nd-story-software-inc,/funding-round/c7647b519b16454c1abe9f310ea2a34c,private_equity,NaN,30-03-2005,85000000.000,Software
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113971,/organization/zeptor,Zeptor,http://zeptoco.com,Nanotechnology,operating,USA,CA,SF Bay Area,Menlo Park,01-01-2009,/organization/zeptor,/funding-round/15678d59454e0b18604c88d23b81cdf2,private_equity,NaN,09-10-2013,3204899.000,Nanotechnology
114071,/organization/zeta-interactive,Zeta Interactive,http://www.zetainteractive.com,Advertising,operating,USA,NY,New York City,New York,01-01-2007,/organization/zeta-interactive,/funding-round/ce7dbe2c091876814a7864be462c238a,private_equity,NaN,15-07-2015,125000000.000,Advertising
114072,/organization/zeta-interactive,Zeta Interactive,http://www.zetainteractive.com,Advertising,operating,USA,NY,New York City,New York,01-01-2007,/organization/zeta-interactive,/funding-round/e07bcbc4e6a949f95f0c7e802b6dad02,private_equity,NaN,27-06-2012,70000000.000,Advertising
114272,/organization/zimride,Zimride,http://zimride.com,Public Transportation,acquired,USA,CA,SF Bay Area,San Francisco,NaN,/organization/zimride,/funding-round/51a74eb30b3c0470e84d0f7387be9909,private_equity,NaN,30-01-2013,15000000.000,Public Transportation
114879,/organization/zyme-solutions,Zyme Solutions,http://www.zymesolutions.com,Hardware|Hardware + Software,operating,USA,CA,SF Bay Area,Redwood Shores,01-01-2004,/organization/zyme-solutions,/funding-round/b2cfedffee4860384ce7293a6e8db5da,private_equity,NaN,20-05-2013,5000000.000,Hardware

In [44]:
#import mapping csv
mapping_csv = pd.read_csv("C:\\Users\\Bindiya\\Desktop\\InvestmentAssignment\\mapping.csv")

In [45]:
mapping_csv

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
683,Wholesale,0,0,0,0,0,0,0,1,0
684,Wine And Spirits,0,0,0,1,0,0,0,0,0
685,Wireless,0,0,0,1,0,0,0,0,0
686,Women,0,0,0,0,0,0,0,1,0
687,Young Adults,0,0,0,0,0,0,0,1,0

In [46]:
mapping_csv.drop(0, inplace = True)#dropping first row

In [47]:

#melting mapping csv
mapping_csv = pd.melt(mapping_csv, id_vars=['category_list'])

In [48]:
mapping_csv

         category_list                                 variable  value
0                   3D                      Automotive & Sports      0
1          3D Printing                      Automotive & Sports      0
2        3D Technology                      Automotive & Sports      0
3           Accounting                      Automotive & Sports      0
4     Active Lifestyle                      Automotive & Sports      0
...                ...                                      ...    ...
6178         Wholesale  Social, Finance, Analytics, Advertising      0
6179  Wine And Spirits  Social, Finance, Analytics, Advertising      0
6180          Wireless  Social, Finance, Analytics, Advertising      0
6181             Women  Social, Finance, Analytics, Advertising      0
6182      Young Adults  Social, Finance, Analytics, Advertising      0

[6183 rows x 3 columns]

In [50]:
mapping_csv = mapping_csv[mapping_csv['value'] ==1] #retaining relevant rows

In [51]:
mapping_csv.drop('value', axis = 1, inplace = True) #removing additional column

F:\Anaconda\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [52]:
#renaming columns
mapping_csv.rename(columns={'category_list':'primary_sector', 'variable':'main_sector'}, inplace = True)

F:\Anaconda\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [53]:
mapping_csv

         primary_sector                              main_sector
7      Adventure Travel                      Automotive & Sports
13            Aerospace                      Automotive & Sports
44                 Auto                      Automotive & Sports
45      Automated Kiosk                      Automotive & Sports
46           Automotive                      Automotive & Sports
...                 ...                                      ...
6112  Social Recruiting  Social, Finance, Analytics, Advertising
6113  Social Television  Social, Finance, Analytics, Advertising
6114      Social Travel  Social, Finance, Analytics, Advertising
6125    Stock Exchanges  Social, Finance, Analytics, Advertising
6158    Venture Capital  Social, Finance, Analytics, Advertising

[687 rows x 2 columns]

In [55]:
# merging maping and top9 df using left join to retain all records of top9_df
top9_df = pd.merge(top9_df, mapping_csv, how = 'left', on = 'primary_sector')
top9_df

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector_x,main_sector_y
0,/organization/1-800-publicrelations-inc-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013,/organization/1-800-publicrelations-inc-,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6000000.000,Internet Marketing,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising"
1,/organization/1c-company,1C Company,http://1c.ru/eng,Games|Software|Video Games,closed,RUS,48,Moscow,Moscow,01-01-1991,/organization/1c-company,/funding-round/679ae989d9dd8195e989dda21eff44b7,private_equity,NaN,03-10-2011,200000000.000,Games,Entertainment,Entertainment
2,/organization/21st-century-oncology,21st Century Oncology,http://21stcenturyoncology.com,Health and Wellness,operating,USA,FL,Fort Myers,Fort Myers,NaN,/organization/21st-century-oncology,/funding-round/261bff457e1b31c4879e786ab7cf80ab,private_equity,NaN,26-09-2014,325000000.000,Health and Wellness,Health,Health
3,/organization/2dheat,2DHeat,http://www.2dheat.com/,Clean Technology,operating,GBR,P2,Warrington,Warrington,NaN,/organization/2dheat,/funding-round/b1308b31d7a416eb1200b9bb42c9a08f,private_equity,NaN,24-10-2014,200708.000,Clean Technology,Cleantech / Semiconductors,Cleantech / Semiconductors
4,/organization/2nd-story-software-inc,"2nd Story Software, Inc.",http://www.taxact.com,Software,acquired,USA,IA,Cedar Rapids,Cedar Rapids,15-02-1998,/organization/2nd-story-software-inc,/funding-round/c7647b519b16454c1abe9f310ea2a34c,private_equity,NaN,30-03-2005,85000000.000,Software,Others,Others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1601,/organization/zeptor,Zeptor,http://zeptoco.com,Nanotechnology,operating,USA,CA,SF Bay Area,Menlo Park,01-01-2009,/organization/zeptor,/funding-round/15678d59454e0b18604c88d23b81cdf2,private_equity,NaN,09-10-2013,3204899.000,Nanotechnology,NaN,NaN
1602,/organization/zeta-interactive,Zeta Interactive,http://www.zetainteractive.com,Advertising,operating,USA,NY,New York City,New York,01-01-2007,/organization/zeta-interactive,/funding-round/ce7dbe2c091876814a7864be462c238a,private_equity,NaN,15-07-2015,125000000.000,Advertising,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising"
1603,/organization/zeta-interactive,Zeta Interactive,http://www.zetainteractive.com,Advertising,operating,USA,NY,New York City,New York,01-01-2007,/organization/zeta-interactive,/funding-round/e07bcbc4e6a949f95f0c7e802b6dad02,private_equity,NaN,27-06-2012,70000000.000,Advertising,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising"
1604,/organization/zimride,Zimride,http://zimride.com,Public Transportation,acquired,USA,CA,SF Bay Area,San Francisco,NaN,/organization/zimride,/funding-round/51a74eb30b3c0470e84d0f7387be9909,private_equity,NaN,30-01-2013,15000000.000,Public Transportation,Health,Health
1605,/organization/zyme-solutions,Zyme Solutions,http://www.zymesolutions.com,Hardware|Hardware + Software,operating,USA,CA,SF Bay Area,Redwood Shores,01-01-2004,/organization/zyme-solutions,/funding-round/b2cfedffee4860384ce7293a6e8db5da,private_equity,NaN,20-05-2013,5000000.000,Hardware,Manufacturing,Manufacturing

In [57]:
top9_df.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'status',
       'country_code', 'state_code', 'region', 'city', 'founded_at',
       'company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd',
       'primary_sector', 'main_sector_x', 'main_sector_y'],
      dtype='object')

In [58]:
top9_df[top9_df['main_sector_y'].isnull()]

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector_x,main_sector_y
40,/organization/activepath,ActivePath,http://www.activepath.com,Finance,operating,USA,NY,New York City,New York,01-01-2007,/organization/activepath,/funding-round/fe5e517f4c2dba0f5d373fb796fc4958,private_equity,NaN,30-11-2012,3250001.000,Finance,NaN,NaN
108,/organization/app55,App55 Ltd,http://www.app55.com,Finance Technology|FinTech|Mobile Payments|Pay...,closed,GBR,I2,Manchester,Manchester,01-01-2011,/organization/app55,/funding-round/15da45e41a94a0a0beffd61618c46258,private_equity,NaN,21-05-2012,1700000.000,Finance Technology,NaN,NaN
144,/organization/attensity,Attensity,http://www.attensity.com/,Analytics|Business Analytics|Social CRM|Social...,operating,USA,CA,SF Bay Area,Redwood City,01-01-2000,/organization/attensity,/funding-round/e34ea2b7ba76d5f2dec64fcff43f06da,private_equity,NaN,14-05-2014,90000000.000,Analytics,NaN,NaN
158,/organization/automated-trading-desk,Automated Trading Desk,http://www.atdesk.com,Finance,operating,USA,SC,"Charleston, South Carolina",Mount Pleasant,01-01-1988,/organization/automated-trading-desk,/funding-round/6e9d9fa8ebe13c3db463a8c6f900c391,private_equity,NaN,06-01-2007,60000000.000,Finance,NaN,NaN
177,/organization/ayasdi,Ayasdi,http://www.ayasdi.com,Analytics|Big Data|Big Data Analytics|Data Vis...,operating,USA,CA,SF Bay Area,Menlo Park,01-01-2008,/organization/ayasdi,/funding-round/b2bbc1ff69f64865f06369fcd4660f63,private_equity,NaN,01-04-2012,10067000.000,Analytics,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448,/organization/tripletree,TripleTree,http://Triple-tree.com,Finance,operating,USA,MN,Minneapolis,Minneapolis,01-01-1997,/organization/tripletree,/funding-round/fc45c0f3a5567dc095bf5272e19b8ce0,private_equity,NaN,07-06-2013,3200000.000,Finance,NaN,NaN
1462,/organization/uat-holdings,UAT Holdings,http://www.uatinc.com,Finance|FinTech,operating,USA,CO,Denver,Englewood,01-01-2005,/organization/uat-holdings,/funding-round/caf762f0dc12074b6e4db8a0733e3a2c,private_equity,NaN,13-08-2012,6409022.000,Finance,NaN,NaN
1557,/organization/weemba,Weemba,http://www.weemba.com,Finance,closed,USA,FL,Miami,Miami Beach,01-01-2011,/organization/weemba,/funding-round/31a1074df59498146758a05a8a3e995a,private_equity,NaN,11-11-2009,8055481.000,Finance,NaN,NaN
1576,/organization/world-business-lenders,World Business Lenders,http://wbl.com,Finance,operating,USA,NY,New York City,New York,01-01-2011,/organization/world-business-lenders,/funding-round/0dd2ab44a0a356cb296df7b9633fcb1c,private_equity,NaN,08-10-2013,5000000.000,Finance,NaN,NaN
1601,/organization/zeptor,Zeptor,http://zeptoco.com,Nanotechnology,operating,USA,CA,SF Bay Area,Menlo Park,01-01-2009,/organization/zeptor,/funding-round/15678d59454e0b18604c88d23b81cdf2,private_equity,NaN,09-10-2013,3204899.000,Nanotechnology,NaN,NaN

In [59]:
top9_df.loc[top9_df['primary_sector'].str.contains('Analytics', na = False),['main_sector_y']] = 'Social, Finance, Analytics, Advertising'

In [60]:
top9_df.loc[top9_df['primary_sector'].str.contains('Financ', na = False),['main_sector_y']] = 'Social, Finance, Analytics, Advertising'

In [61]:
#imputing null values
top9_df.loc[top9_df['main_sector_y'].isnull(), ['main_sector_y']] = 'Others'

In [62]:
len(top9_df[top9_df['main_sector_y'].isnull()])

0

In [64]:

# USA dataframe
USA_df = top9_df[(top9_df['country_code'] == 'USA') & ((top9_df['raised_amount_usd'] >= 5000000) & (top9_df['raised_amount_usd'] <= 15000000))]

In [66]:
#USA sector_analysis
USA_sector_analysis = USA_df.groupby('main_sector_y')['raised_amount_usd'].agg(('sum', 'count'))

In [67]:
#renamingcolumns
USA_sector_analysis.rename(columns={'sum':'Sum of investment', 'count': 'Count of Investment'}, inplace = True)

In [69]:
# count and investment amount
USA_df = pd.merge(USA_df, USA_sector_analysis, on = 'main_sector_y')

In [70]:
USA_df

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector_x,main_sector_y,Sum of investment,Count of Investment
0,/organization/1-800-publicrelations-inc-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013,...,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6000000.000,Internet Marketing,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising",470210339.000,54
1,/organization/ace-comm,ACE*COMM,http://www.acecomm.com,Public Relations,operating,USA,MD,"Washington, D.C.",Gaithersburg,01-01-1983,...,/funding-round/1ca42fba76f93d2f70476e76ed5727a2,private_equity,NaN,01-01-2007,5000000.000,Public Relations,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising",470210339.000,54
2,/organization/aet-holdings,AET Holdings Corp,http://www.aetholdings.com/,Business Services|Enterprise Application|Enter...,operating,USA,DC,"Washington, D.C.",Washington,01-01-2013,...,/funding-round/76feddd7dcd62f95fbae6297f7e25c34,private_equity,NaN,21-08-2014,6000000.000,Business Services,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising",470210339.000,54
3,/organization/asymetrix,Click2learn,http://www.click2learn.com,Information Services,ipo,USA,WA,Seattle,Bellevue,NaN,...,/funding-round/ce33a55d25a3605db30e8bca5d737eae,private_equity,NaN,13-10-1999,10000000.000,Information Services,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising",470210339.000,54
4,/organization/ayasdi,Ayasdi,http://www.ayasdi.com,Analytics|Big Data|Big Data Analytics|Data Vis...,operating,USA,CA,SF Bay Area,Menlo Park,01-01-2008,...,/funding-round/b2bbc1ff69f64865f06369fcd4660f63,private_equity,NaN,01-04-2012,10067000.000,Analytics,NaN,"Social, Finance, Analytics, Advertising",470210339.000,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,/organization/stratfor,Stratfor,http://www.stratfor.com,Games,operating,USA,TX,Austin,Austin,01-01-1996,...,/funding-round/a1742d1c71eb2cba63d27331382fdcf9,private_equity,NaN,22-10-2015,12000000.000,Games,Entertainment,Entertainment,63290000.000,7
311,/organization/studionow,StudioNow,http://www.studionow.com,Photography|Video Editing,operating,USA,TN,Nashville,Nashville,01-01-2007,...,/funding-round/6eaa6a48a51d0060fd0f9e08e5efe08b,private_equity,NaN,01-01-2013,11790000.000,Photography,Entertainment,Entertainment,63290000.000,7
312,/organization/tetris-online,Tetris Online,http://www.tetrisonline.com,Games,operating,USA,HI,Honolulu,Honolulu,01-01-2005,...,/funding-round/39d46d76d988682fccc70a6e7ddc4aad,private_equity,NaN,05-03-2010,5000000.000,Games,Entertainment,Entertainment,63290000.000,7
313,/organization/winery-exchange,Winery Exchange,http://www.wineryexchange.com/,Wine And Spirits,operating,USA,CA,SF Bay Area,Novato,01-01-1999,...,/funding-round/29dcc428eb02dac4a941c92eb2caf60d,private_equity,NaN,16-10-2007,5000000.000,Wine And Spirits,Entertainment,Entertainment,63290000.000,7
314,/organization/zenimax,ZeniMax,http://www.zenimax.com,Games,operating,USA,MD,"Washington, D.C.",Rockville,01-01-1999,...,/funding-round/294edfc32ba2d0cd5add549f50924f94,private_equity,NaN,30-05-2008,9900000.000,Games,Entertainment,Entertainment,63290000.000,7

In [71]:
#Creating d2 India
India_df = top9_df[(top9_df['country_code'] == 'IND') & ((top9_df['raised_amount_usd'] >= 5000000) & (top9_df['raised_amount_usd'] <= 15000000))]
India_df

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector_x,main_sector_y
143,/organization/atria-brindavan-power,Atria Brindavan Power,NaN,Clean Technology,operating,IND,19,Bangalore,Bangalore,01-01-2000,/organization/atria-brindavan-power,/funding-round/c23fe601b25d3fc62a4f109a1f13e678,private_equity,NaN,13-06-2013,8600000.000,Clean Technology,Cleantech / Semiconductors,Cleantech / Semiconductors
271,/organization/capricorn-food-products-india,Capricorn Food Products India,http://capricorngroup.com,Hospitality,operating,IND,25,Chennai,Chennai,01-01-1998,/organization/capricorn-food-products-india,/funding-round/b51b66e081d21756ccc351f63aa928d2,private_equity,NaN,22-07-2013,10000000.000,Hospitality,Others,Others
661,/organization/ifmr-rural-channels-and-services,IFMR Rural Channels and Services,http://ruralchannels.ifmr.co.in,Finance,operating,IND,25,Chennai,Chennai,01-01-2006,/organization/ifmr-rural-channels-and-services,/funding-round/716523911b3d1c1f0f7cd923fbe13ebc,private_equity,NaN,24-10-2013,5000000.000,Finance,NaN,"Social, Finance, Analytics, Advertising"
882,/organization/micro-housing-finance-corporatio...,Micro Housing Finance Corporation Limited,http://mhfcindia.com,Finance,operating,IND,16,Mumbai,Mumbai,16-05-2008,/organization/micro-housing-finance-corporatio...,/funding-round/157fa3d34e5792876517552ca5a002f2,private_equity,NaN,16-09-2013,5400000.000,Finance,NaN,"Social, Finance, Analytics, Advertising"
1267,/organization/senco-gold,Senco Gold,http://www.sencogold.co.in/,Jewelry,operating,IND,28,IND - Other,Calcutta,01-01-1938,/organization/senco-gold,/funding-round/a7ab0e268f9f992df84f4243406178dc,private_equity,NaN,09-10-2014,13000000.000,Jewelry,Entertainment,Entertainment

In [72]:
# Sector analysis for India
India_sector_analysis = India_df.groupby('main_sector_y')['raised_amount_usd'].agg(('sum', 'count'))

In [73]:

#renaming columns
India_sector_analysis.rename(columns={'sum':'Sum of investment', 'count': 'Count of Investment'}, inplace = True)

In [75]:
#merging count and investment amount
India_df = pd.merge(India_df, India_sector_analysis, on = 'main_sector_y')
India_df

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector_x,main_sector_y,Sum of investment,Count of Investment
0,/organization/atria-brindavan-power,Atria Brindavan Power,NaN,Clean Technology,operating,IND,19,Bangalore,Bangalore,01-01-2000,...,/funding-round/c23fe601b25d3fc62a4f109a1f13e678,private_equity,NaN,13-06-2013,8600000.000,Clean Technology,Cleantech / Semiconductors,Cleantech / Semiconductors,8600000.000,1
1,/organization/capricorn-food-products-india,Capricorn Food Products India,http://capricorngroup.com,Hospitality,operating,IND,25,Chennai,Chennai,01-01-1998,...,/funding-round/b51b66e081d21756ccc351f63aa928d2,private_equity,NaN,22-07-2013,10000000.000,Hospitality,Others,Others,10000000.000,1
2,/organization/ifmr-rural-channels-and-services,IFMR Rural Channels and Services,http://ruralchannels.ifmr.co.in,Finance,operating,IND,25,Chennai,Chennai,01-01-2006,...,/funding-round/716523911b3d1c1f0f7cd923fbe13ebc,private_equity,NaN,24-10-2013,5000000.000,Finance,NaN,"Social, Finance, Analytics, Advertising",10400000.000,2
3,/organization/micro-housing-finance-corporatio...,Micro Housing Finance Corporation Limited,http://mhfcindia.com,Finance,operating,IND,16,Mumbai,Mumbai,16-05-2008,...,/funding-round/157fa3d34e5792876517552ca5a002f2,private_equity,NaN,16-09-2013,5400000.000,Finance,NaN,"Social, Finance, Analytics, Advertising",10400000.000,2
4,/organization/senco-gold,Senco Gold,http://www.sencogold.co.in/,Jewelry,operating,IND,28,IND - Other,Calcutta,01-01-1938,...,/funding-round/a7ab0e268f9f992df84f4243406178dc,private_equity,NaN,09-10-2014,13000000.000,Jewelry,Entertainment,Entertainment,13000000.000,1

In [78]:
# GBR
GBR_df = top9_df[(top9_df['country_code'] == 'GBR') & ((top9_df['raised_amount_usd'] >= 5000000) & (top9_df['raised_amount_usd'] <= 15000000))]

In [79]:
GBR_df

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector_x,main_sector_y
129,/organization/arkex,ARKeX,http://www.arkex.com,Consulting,operating,GBR,C3,London,Cambridge,01-01-2004,/organization/arkex,/funding-round/45af240b405f71a6df791ba8fc84d8c7,private_equity,NaN,26-06-2013,15000000.000,Consulting,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising"
150,/organization/audioboo,AudioBoo,http://audioboo.fm,Mobile,acquired,GBR,H9,London,London,01-01-2009,/organization/audioboo,/funding-round/b671779fd445f515f1e6dc063a581474,private_equity,NaN,18-03-2014,5568600.000,Mobile,"News, Search and Messaging","News, Search and Messaging"
272,/organization/car-loan-4u,Car Loan 4U,http://www.carloan4u.co.uk,Finance|FinTech,operating,GBR,Z7,Macclesfield,Macclesfield,27-02-2006,/organization/car-loan-4u,/funding-round/96f7aa642bd39a83753f12693b2d1830,private_equity,NaN,05-02-2014,13051777.000,Finance,NaN,"Social, Finance, Analytics, Advertising"
294,/organization/celsus-therapeutics,Akari Therapeutics,http://akaritx.com/,Biotechnology,ipo,GBR,H9,London,London,01-01-2005,/organization/celsus-therapeutics,/funding-round/0735d9ba77aae5953d4f663a45edc8cf,private_equity,NaN,01-10-2013,12500000.000,Biotechnology,Cleantech / Semiconductors,Cleantech / Semiconductors
610,/organization/hcs-control-systems,HCS Control Systems,http://www.hcs-control-systems.com,Manufacturing|Oil & Gas,operating,GBR,V1,GBR - Other,Glenrothes,01-01-1997,/organization/hcs-control-systems,/funding-round/561accac6151f0eeb80d91fdc2d06010,private_equity,NaN,07-07-2013,12879637.000,Manufacturing,Manufacturing,Manufacturing
648,/organization/hydro66,Hydro66,http://hydro66.com/,Telecommunications,operating,GBR,H9,London,London,07-05-2014,/organization/hydro66,/funding-round/bff724cafa5fce5d7cbcd5471e172918,private_equity,NaN,14-10-2014,10000000.000,Telecommunications,Others,Others
747,/organization/key-travel,Key Travel,http://keytravel.com,Travel,operating,GBR,H9,London,London,01-01-1980,/organization/key-travel,/funding-round/ecd80e62df9709fc8f1f6f146a4d27c0,private_equity,NaN,05-08-2013,13637262.000,Travel,Entertainment,Entertainment
764,/organization/lambert-contracts,Lambert Contracts,http://lambertcontracts.co.uk,Financial Services|Insurance|Risk Management,operating,GBR,W2,Paisley,Paisley,01-01-1985,/organization/lambert-contracts,/funding-round/fc75855073de62116a4e59da90963508,private_equity,NaN,28-06-2013,5757955.000,Financial Services,NaN,"Social, Finance, Analytics, Advertising"
814,/organization/love-energy-savings-com-limited,Love Energy Savings,https://www.loveenergysavings.com/,Energy|Gas|Price Comparison|Utilities,operating,GBR,B1,GBR - Other,Bolton,27-07-2007,/organization/love-energy-savings-com-limited,/funding-round/8b02880084e657547001e660a3bfb43b,private_equity,NaN,14-09-2015,6946213.000,Energy,Cleantech / Semiconductors,Cleantech / Semiconductors
1047,/organization/p2p-global-investments,P2P Global Investments,http://www.p2pgi.com,NaN,operating,GBR,H9,London,London,NaN,/organization/p2p-global-investments,/funding-round/2be60d95396d4b9b430cb3d729b3e8c2,private_equity,NaN,24-07-2015,6216875.000,NaN,NaN,Others
1143,/organization/pts-consulting,PTS Consulting,http://ptsconsulting.com,Consulting,operating,GBR,H9,London,London,01-01-1983,/organization/pts-consulting,/funding-round/9b366acacc6eb0e614d67e3c043a5208,private_equity,NaN,08-10-2013,13182687.000,Consulting,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising"
1259,/organization/scotrenewables-tidal-power,Scotrenewables Tidal Power,http://www.scotrenewables.com,Manufacturing,operating,GBR,V9,NaN,NaN,01-01-2002,/organization/scotrenewables-tidal-power,/funding-round/0f5a7dd0a830c8318076fbfc670b0fd1,private_equity,NaN,13-03-2013,12000000.000,Manufacturing,Manufacturing,Manufacturing
1469,/organization/unii,Unii,http://www.unii.com,Software,operating,GBR,H9,London,London,27-10-2012,/organization/unii,/funding-round/dfed2bd08b5fb9d422413a2083ab37f1,private_equity,NaN,28-03-2015,11000000.000,Software,Others,Others
1546,/organization/vtl-group,VTL Group,http://vtl-group.com,Automotive,operating,GBR,G8,Huddersfield,Huddersfield,01-01-2001,/organization/vtl-group,/funding-round/d20ca36e87e7732c3c4abf8965e8ac81,private_equity,NaN,26-09-2013,6061005.000,Automotive,Automotive & Sports,Automotive & Sports
1578,/organization/xconnect,XConnect Global Networks,http://www.xconnect.net,Messaging|VoIP,operating,GBR,H9,London,London,01-01-2005,/organization/xconnect,/funding-round/f479b6157b06e1eaab398a25323d933d,private_equity,NaN,26-06-2013,10000000.000,Messaging,"News, Search and Messaging","News, Search and Messaging"

In [80]:
# creating sector analysis for d3
GBR_sector_analysis = GBR_df.groupby('main_sector_y')['raised_amount_usd'].agg(('sum', 'count'))

In [81]:

#renaming columns
GBR_sector_analysis.rename(columns={'sum':'Sum of investment', 'count': 'Count of Investment'}, inplace = True)

In [83]:

#merging count and investment amount
GBR_df = pd.merge(GBR_df, GBR_sector_analysis, on = 'main_sector_y')

In [84]:
GBR_df

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector_x,main_sector_y,Sum of investment,Count of Investment
0,/organization/arkex,ARKeX,http://www.arkex.com,Consulting,operating,GBR,C3,London,Cambridge,01-01-2004,...,/funding-round/45af240b405f71a6df791ba8fc84d8c7,private_equity,NaN,26-06-2013,15000000.000,Consulting,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising",46992419.000,4
1,/organization/car-loan-4u,Car Loan 4U,http://www.carloan4u.co.uk,Finance|FinTech,operating,GBR,Z7,Macclesfield,Macclesfield,27-02-2006,...,/funding-round/96f7aa642bd39a83753f12693b2d1830,private_equity,NaN,05-02-2014,13051777.000,Finance,NaN,"Social, Finance, Analytics, Advertising",46992419.000,4
2,/organization/lambert-contracts,Lambert Contracts,http://lambertcontracts.co.uk,Financial Services|Insurance|Risk Management,operating,GBR,W2,Paisley,Paisley,01-01-1985,...,/funding-round/fc75855073de62116a4e59da90963508,private_equity,NaN,28-06-2013,5757955.000,Financial Services,NaN,"Social, Finance, Analytics, Advertising",46992419.000,4
3,/organization/pts-consulting,PTS Consulting,http://ptsconsulting.com,Consulting,operating,GBR,H9,London,London,01-01-1983,...,/funding-round/9b366acacc6eb0e614d67e3c043a5208,private_equity,NaN,08-10-2013,13182687.000,Consulting,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising",46992419.000,4
4,/organization/audioboo,AudioBoo,http://audioboo.fm,Mobile,acquired,GBR,H9,London,London,01-01-2009,...,/funding-round/b671779fd445f515f1e6dc063a581474,private_equity,NaN,18-03-2014,5568600.000,Mobile,"News, Search and Messaging","News, Search and Messaging",15568600.000,2
5,/organization/xconnect,XConnect Global Networks,http://www.xconnect.net,Messaging|VoIP,operating,GBR,H9,London,London,01-01-2005,...,/funding-round/f479b6157b06e1eaab398a25323d933d,private_equity,NaN,26-06-2013,10000000.000,Messaging,"News, Search and Messaging","News, Search and Messaging",15568600.000,2
6,/organization/celsus-therapeutics,Akari Therapeutics,http://akaritx.com/,Biotechnology,ipo,GBR,H9,London,London,01-01-2005,...,/funding-round/0735d9ba77aae5953d4f663a45edc8cf,private_equity,NaN,01-10-2013,12500000.000,Biotechnology,Cleantech / Semiconductors,Cleantech / Semiconductors,19446213.000,2
7,/organization/love-energy-savings-com-limited,Love Energy Savings,https://www.loveenergysavings.com/,Energy|Gas|Price Comparison|Utilities,operating,GBR,B1,GBR - Other,Bolton,27-07-2007,...,/funding-round/8b02880084e657547001e660a3bfb43b,private_equity,NaN,14-09-2015,6946213.000,Energy,Cleantech / Semiconductors,Cleantech / Semiconductors,19446213.000,2
8,/organization/hcs-control-systems,HCS Control Systems,http://www.hcs-control-systems.com,Manufacturing|Oil & Gas,operating,GBR,V1,GBR - Other,Glenrothes,01-01-1997,...,/funding-round/561accac6151f0eeb80d91fdc2d06010,private_equity,NaN,07-07-2013,12879637.000,Manufacturing,Manufacturing,Manufacturing,24879637.000,2
9,/organization/scotrenewables-tidal-power,Scotrenewables Tidal Power,http://www.scotrenewables.com,Manufacturing,operating,GBR,V9,NaN,NaN,01-01-2002,...,/funding-round/0f5a7dd0a830c8318076fbfc670b0fd1,private_equity,NaN,13-03-2013,12000000.000,Manufacturing,Manufacturing,Manufacturing,24879637.000,2
10,/organization/hydro66,Hydro66,http://hydro66.com/,Telecommunications,operating,GBR,H9,London,London,07-05-2014,...,/funding-round/bff724cafa5fce5d7cbcd5471e172918,private_equity,NaN,14-10-2014,10000000.000,Telecommunications,Others,Others,27216875.000,3
11,/organization/p2p-global-investments,P2P Global Investments,http://www.p2pgi.com,NaN,operating,GBR,H9,London,London,NaN,...,/funding-round/2be60d95396d4b9b430cb3d729b3e8c2,private_equity,NaN,24-07-2015,6216875.000,NaN,NaN,Others,27216875.000,3
12,/organization/unii,Unii,http://www.unii.com,Software,operating,GBR,H9,London,London,27-10-2012,...,/funding-round/dfed2bd08b5fb9d422413a2083ab37f1,private_equity,NaN,28-03-2015,11000000.000,Software,Others,Others,27216875.000,3
13,/organization/key-travel,Key Travel,http://keytravel.com,Travel,operating,GBR,H9,London,London,01-01-1980,...,/funding-round/ecd80e62df9709fc8f1f6f146a4d27c0,private_equity,NaN,05-08-2013,13637262.000,Travel,Entertainment,Entertainment,13637262.000,1
14,/organization/vtl-group,VTL Group,http://vtl-group.com,Automotive,operating,GBR,G8,Huddersfield,Huddersfield,01-01-2001,...,/funding-round/d20ca36e87e7732c3c4abf8965e8ac81,private_equity,NaN,26-09-2013,6061005.000,Automotive,Automotive & Sports,Automotive & Sports,6061005.000,1

In [85]:

# concatinating USA, INDIA AND GBR
top3 = pd.concat([USA_df, India_df, GBR_df], axis = 0, ignore_index = True, sort = False)

In [86]:
top3

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector_x,main_sector_y,Sum of investment,Count of Investment
0,/organization/1-800-publicrelations-inc-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013,...,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6000000.000,Internet Marketing,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising",470210339.000,54
1,/organization/ace-comm,ACE*COMM,http://www.acecomm.com,Public Relations,operating,USA,MD,"Washington, D.C.",Gaithersburg,01-01-1983,...,/funding-round/1ca42fba76f93d2f70476e76ed5727a2,private_equity,NaN,01-01-2007,5000000.000,Public Relations,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising",470210339.000,54
2,/organization/aet-holdings,AET Holdings Corp,http://www.aetholdings.com/,Business Services|Enterprise Application|Enter...,operating,USA,DC,"Washington, D.C.",Washington,01-01-2013,...,/funding-round/76feddd7dcd62f95fbae6297f7e25c34,private_equity,NaN,21-08-2014,6000000.000,Business Services,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising",470210339.000,54
3,/organization/asymetrix,Click2learn,http://www.click2learn.com,Information Services,ipo,USA,WA,Seattle,Bellevue,NaN,...,/funding-round/ce33a55d25a3605db30e8bca5d737eae,private_equity,NaN,13-10-1999,10000000.000,Information Services,"Social, Finance, Analytics, Advertising","Social, Finance, Analytics, Advertising",470210339.000,54
4,/organization/ayasdi,Ayasdi,http://www.ayasdi.com,Analytics|Big Data|Big Data Analytics|Data Vis...,operating,USA,CA,SF Bay Area,Menlo Park,01-01-2008,...,/funding-round/b2bbc1ff69f64865f06369fcd4660f63,private_equity,NaN,01-04-2012,10067000.000,Analytics,NaN,"Social, Finance, Analytics, Advertising",470210339.000,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,/organization/hydro66,Hydro66,http://hydro66.com/,Telecommunications,operating,GBR,H9,London,London,07-05-2014,...,/funding-round/bff724cafa5fce5d7cbcd5471e172918,private_equity,NaN,14-10-2014,10000000.000,Telecommunications,Others,Others,27216875.000,3
331,/organization/p2p-global-investments,P2P Global Investments,http://www.p2pgi.com,NaN,operating,GBR,H9,London,London,NaN,...,/funding-round/2be60d95396d4b9b430cb3d729b3e8c2,private_equity,NaN,24-07-2015,6216875.000,NaN,NaN,Others,27216875.000,3
332,/organization/unii,Unii,http://www.unii.com,Software,operating,GBR,H9,London,London,27-10-2012,...,/funding-round/dfed2bd08b5fb9d422413a2083ab37f1,private_equity,NaN,28-03-2015,11000000.000,Software,Others,Others,27216875.000,3
333,/organization/key-travel,Key Travel,http://keytravel.com,Travel,operating,GBR,H9,London,London,01-01-1980,...,/funding-round/ecd80e62df9709fc8f1f6f146a4d27c0,private_equity,NaN,05-08-2013,13637262.000,Travel,Entertainment,Entertainment,13637262.000,1
334,/organization/vtl-group,VTL Group,http://vtl-group.com,Automotive,operating,GBR,G8,Huddersfield,Huddersfield,01-01-2001,...,/funding-round/d20ca36e87e7732c3c4abf8965e8ac81,private_equity,NaN,26-09-2013,6061005.000,Automotive,Automotive & Sports,Automotive & Sports,6061005.000,1

In [87]:
# count of investment
top3.groupby('country_code')['raised_amount_usd'].count()

country_code
GBR     15
IND      5
USA    315
Name: raised_amount_usd, dtype: int64

In [88]:
# sum of investment
top3.groupby('country_code')['raised_amount_usd'].sum()

country_code
GBR    153802011.000
IND     42000000.000
USA   2907644864.000
Name: raised_amount_usd, dtype: float64

In [89]:
# top sector based on count
top3.groupby(['country_code','main_sector_y'])['main_sector_y'].count()

country_code  main_sector_y
GBR           Automotive & Sports                         1
              Cleantech / Semiconductors                  2
              Entertainment                               1
              Manufacturing                               2
              News, Search and Messaging                  2
              Others                                      3
              Social, Finance, Analytics, Advertising     4
IND           Cleantech / Semiconductors                  1
              Entertainment                               1
              Others                                      1
              Social, Finance, Analytics, Advertising     2
USA           Automotive & Sports                         6
              Cleantech / Semiconductors                 99
              Entertainment                               7
              Health                                     34
              Manufacturing                              16
              News, Search and Messaging                 31
              Others                                     68
              Social, Finance, Analytics, Advertising    54
Name: main_sector_y, dtype: int64

In [90]:
#amount invested country wise, mainsector_y wise
top3.groupby(['country_code','main_sector_y'])['raised_amount_usd'].sum()

country_code  main_sector_y
GBR           Automotive & Sports                         6061005.000
              Cleantech / Semiconductors                 19446213.000
              Entertainment                              13637262.000
              Manufacturing                              24879637.000
              News, Search and Messaging                 15568600.000
              Others                                     27216875.000
              Social, Finance, Analytics, Advertising    46992419.000
IND           Cleantech / Semiconductors                  8600000.000
              Entertainment                              13000000.000
              Others                                     10000000.000
              Social, Finance, Analytics, Advertising    10400000.000
USA           Automotive & Sports                        53917495.000
              Cleantech / Semiconductors                950567662.000
              Entertainment                              63290000.000
              Health                                    314010178.000
              Manufacturing                             155466681.000
              News, Search and Messaging                256053376.000
              Others                                    644129133.000
              Social, Finance, Analytics, Advertising   470210339.000
Name: raised_amount_usd, dtype: float64

In [91]:
#Highest investment Country
pd.DataFrame(top3[(top3['country_code'] == 'USA') & (top3['main_sector_y'] == 'Cleantech / Semiconductors')].groupby(['permalink','name']).raised_amount_usd.sum().sort_values(ascending = False))

                                                                   raised_amount_usd
permalink                               name
/organization/alien-technology          Alien Technology                35377366.000
/organization/arcadia-biosciences       Arcadia Biosciences             25000000.000
/organization/oncothyreon               Oncothyreon                     24900000.000
/organization/solarcity                 SolarCity                       21540000.000
/organization/altor-bioscience          Altor BioScience                16215447.000
...                                                                              ...
/organization/algae-international-group Algae International Group        5000000.000
/organization/rexahn-pharmaceuticals    Rexahn Pharmaceuticals           5000000.000
/organization/gentris                   Gentris                          5000000.000
/organization/genspera                  GenSpera                         5000000.000
/organization/anacor-pharmaceutical     Anacor Pharmaceutical            5000000.000

[93 rows x 1 columns]

In [92]:
#Company with highest investment
pd.DataFrame(top3[(top3['country_code'] == 'IND') & (top3['main_sector_y'] == 'Social, Finance, Analytics, Advertising')].groupby(['permalink','name']).raised_amount_usd.sum().sort_values(ascending = False))

                                                                                              raised_amount_usd
permalink                                          name
/organization/micro-housing-finance-corporation... Micro Housing Finance Corporation Limited        5400000.000
/organization/ifmr-rural-channels-and-services     IFMR Rural Channels and Services                 5000000.000

In [93]:
#finding name of the company with highest investment
pd.DataFrame(top3[(top3['country_code'] == 'GBR') & (top3['main_sector_y'] == 'Social, Finance, Analytics, Advertising')].groupby(['permalink','name']).raised_amount_usd.sum().sort_values(ascending = False))

                                                   raised_amount_usd
permalink                       name
/organization/arkex             ARKeX                   15000000.000
/organization/pts-consulting    PTS Consulting          13182687.000
/organization/car-loan-4u       Car Loan 4U             13051777.000
/organization/lambert-contracts Lambert Contracts        5757955.000

In [95]:
#2nd highest investment
pd.DataFrame(top3[(top3['country_code'] == 'USA') & (top3['main_sector_y'] == 'Others')].groupby(['permalink','name']).raised_amount_usd.sum().sort_values(ascending = False))

                                                                       raised_amount_usd
permalink                                 name
/organization/ikasystems                  ikaSystems                        27492730.000
/organization/service-now-com             ServiceNow                        16980000.000
/organization/koolspan                    KoolSpan                          16869746.000
/organization/netuitive                   Netuitive                         16500000.000
/organization/bluetarp-financial          BlueTarp Financial                15000000.000
...                                                                                  ...
/organization/youscience                  YouScience                         5266667.000
/organization/pixelligent                 Pixelligent                        5100000.000
/organization/midawi-holdings             Midawi Holdings                    5057487.000
/organization/logical-choice-technologies Logical Choice Technologies        5000000.000
/organization/applied-dna-sciences        Applied DNA Sciences               5000000.000

[64 rows x 1 columns]

In [96]:
# 2nd highest investment
pd.DataFrame(top3[(top3['country_code'] == 'IND') & (top3['main_sector_y'] == 'Entertainment')].groupby(['permalink','name']).raised_amount_usd.sum().sort_values(ascending = False))

                                     raised_amount_usd
permalink                name
/organization/senco-gold Senco Gold       13000000.000

In [97]:
#2nd highest investment
pd.DataFrame(top3[(top3['country_code'] == 'GBR') & (top3['main_sector_y'] == 'Others')].groupby(['permalink','name']).raised_amount_usd.sum().sort_values(ascending = False))

                                                             raised_amount_usd
permalink                            name
/organization/unii                   Unii                         11000000.000
/organization/hydro66                Hydro66                      10000000.000
/organization/p2p-global-investments P2P Global Investments        6216875.000